body{ /* Layout för header, nav, main,footer, bakgrundsfärgen på alla sidor och margin: 0; att den täcker hela sidan  */
    background-color:grey;
    margin: 0;

}

.wrapper{ /*Inehåll som uprepas på varje sida*/
    display: grid;
    height: auto;
    padding: 0;
    margin: 0;
    grid-template-rows: 80px 50px auto 50px;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer"

}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: 
    "section";
}

#sida2 main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}
#sida3 main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#sida4 main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#sida5 main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#sida6 main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#sida7 main{
    grid-template-columns:1fr 1fr;

}
header{
    grid-area: header;
    text-align:center;
    color:white;
    background-color:black;

}


nav{
    grid-area:navbar;
    background-color:rgb(0, 0, 0);
    
}

nav>ul{  
    display: grid;
    grid-template-columns: repeat(7, 1fr);/*1fr 1fr 1fr;*/
    padding: 0;
    margin: 0;
    border-style:solid; 
    border-color: rgb(255, 254, 254);  
    color:white;
}

nav li{ /*Stil till lista*/
    list-style-type: none;
}

li a{
    display:block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;

}

#fifa main{
    margin:0 7px;

}
img{ /* sätter en standard för alla bilder på sida, display flex så att de får samma höjd och så att de passar. */
    padding:5px;
    width: 100%;
    border:solid;

}

main {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#sida2 h2{ 
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}
#sida3 h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#sida4 h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#sida5 h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#sida6 h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#sida7 h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}


#sida2 section{
    min-height:100px;

}

#sida3 section{
    min-height:100px;
}

#sida4 section{
    min-height:100px;
}

#sida5 section{
    min-height:100px;
}

#sida6 section{
    min-height:100px;
}
#sida7 section{
    min-height:100px;
}

#sida7 img{
    width: 100%;
    border: 0;
    margin:0;
    padding: 0;
}

section {
    text-align: left;
    border:solid;
    border-radius: 20px;
}

table {
    border-spacing: 0px; /*gör så att det inte finns mellanrum mellan kolumnerna*/
    width:100%;
}

th:nth-child(1){ 
    text-align: left; /*gör så att texten i den första raden kolumner är åt vänster*/
}

td:nth-child(2), td:nth-child(3){ 
    text-align: center; /*gör så att texten i den aandra och tredje raden kolumner är centrerade*/
}

td:nth-child(4), th:nth-child(4){
   text-align: right;
}
thead > tr:nth-child(1){
   background-color: blue
}

tr:nth-child(odd){
    background-color: red
}

tr:nth-child(even){
    background-color: gray
}

@media screen and (min-width: 600px) { /* Responsivitet för NAVen */
    main {   
      flex-direction: column;
    }
  }
    
