body{ /* Layout för header, nav, main,footer, bakgrundsfärgen på alla sidor och margin: 0; att den täcker hela sidan  */
    background-color:grey;
    margin: 0;

}

.wrapper{ /*Inehåll som uprepas på varje sida*/
    display: grid; /*Lägger till en grid*/
    height: auto;
    padding: 0; /*gör så att utrymmet vid elementet är 0*/
    margin: 0; /*Tar bort det oranga när man inpekterar hemsidan*/
    grid-template-rows: 80px 50px auto 50px; /*Rader på kolumner*/
    grid-template-areas: /*Lägger till grider*/
    "header"
    "navbar"
    "main"
    "footer"

}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px; /* lämar ett mellanrum efter varje grid kolumn*/
    grid-template-areas: 
    "section";
}

#premierleague main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}
#laliga main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#seriea main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#bundesliga main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#ligue1 main{
    display: grid;
    grid-template-areas: 
    "h1 . ."
    "section section section"
    "figure figure figure"
    ;
}

#barcelona main{
    grid-template-columns:1fr 1fr;

}
header{
    grid-area: header; /*visar vilken del av gridden du jobbar med*/
    text-align:center; /*gör så att texten är i mitten*/
    color:white; /* gör så att texten blir vit */
    background-color:black; /*bakrundsfärgen*/

}


nav{
    grid-area:navbar; 
    background-color:rgb(0, 0, 0); /*bakgrunds bilden för navbaren*/
    
}

nav>ul{  
    display: grid;
    grid-template-columns: repeat(7, 1fr);/*att 1fr upprepas 7 gånger så du får 7 spalter;*/
    padding: 0;
    margin: 0;
    border-style:solid; /*gör så att bordern är solid*/
    color:white;
}

nav li{ /*Stil till lista*/
    list-style-type: none; 
}

li a{
    display:block; 
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;

}

#fifa main{
    margin:0 7px;

}
img{ /* sätter en standard för alla bilder på sida, display flex så att de får samma höjd och så att de passar. */
    padding:5px;
    width: 100%;
    border:solid;

}

main {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#premierleague h2{ /*stil för rubrik 2*/
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}
#laliga h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#seriea h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#bundesliga h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#ligue1 h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}

#barcelona h2{
    grid-column: 1/span 3;
    margin-bottom: 0;
    text-align: start;
}


#premierleague section{ /*stil för section*/
    min-height:100px;

}

#laliga section{
    min-height:100px;
}

#seriea section{
    min-height:100px;
}

#bundesliga section{
    min-height:100px;
}

#ligue1 section{
    min-height:100px;
}
#barcelona section{ 
    min-height:100px;/*visar den minsta höjden för min section */
}

#barcelona img{ /*sätter standard för alla bilder på sida7*/
    width: 100%;
    border: 0;
    margin:0;
    padding: 0;
}

section {
    text-align: left;
    border:solid;
    border-radius: 20px;
}


table {
    border-spacing: 0px; /*gör så att det inte finns mellanrum mellan kolumnerna*/
    width:100%;
}

th:nth-child(1){ 
    text-align: left; /*gör så att texten i den första raden kolumner är åt vänster*/
}

td:nth-child(2), td:nth-child(3){ 
    text-align: center; /*gör så att texten i den aandra och tredje raden kolumner är centrerade*/
}

td:nth-child(4), th:nth-child(4){ /*gör så att texten i den 4 raden kolumner är åt höger*/
   text-align: right; 
}

tr:nth-child(odd){
    background-color: #FF0000;
}

tr:nth-child(even){
    background-color: gray;
}

video{
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    width: 560px;
    height: 315px;
}
a:link{ /*LoVe Focus HAte*/
    color: navy;
}

a:visited{ /*LoVe Focus HAte*/
    color:blueviolet;
}

a:focus{ /*LoVe Focus HAte*/
    color: rgb(255,0,0);
}

a:hover{/*LoVe Focus HAte*/
    color: #0000ff;
}

a:active{ /*LoVe Focus HAte*/
    color:green;
}

footer{ /*egenskap för footer-element*/
    margin-top: 1em;
}

@media screen and (min-width: 600px) { /* Responsivitet för NAVen */
    main {   
      flex-direction: column;
    }
  }
    
