body{
    background-color:grey;
    margin:0;

}

.wrapper{
    display: grid;
    height: auto;
    padding: 0;
    margin: 0;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer"

}

#mainindex{
    display: grid;
    grid-template-areas: 
    "section figure andra"
    
    
    
    ;
}

header{
    grid-area: header;
    text-align:center;
    color:white;
    background-color:black;

}

nav{
    grid-area:navbar;
    background-color:rgb(0, 0, 0);
    
}

nav>ul{  
    display: grid;
    grid-template-columns: repeat(7, 1fr);/*1fr 1fr 1fr;*/
    padding: 0;
    margin: 0;
    border-style:solid; 
    border-color: rgb(255, 254, 254);  
    color:white;
}

nav li{
    list-style-type: none;
}

li a{
    display:block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;

}

#fifa main{
    margin:0 7px;

}
img{
    padding:5px;
    width: 100%;
    margin-right:100%;
    border:solid;

}

main {
    margin-left:auto;
    margin-right:auto;
    text-align:center;

}


h1 {
    
    

}

section {
    text-align: left;
    border:solid;
    border-radius: 20px;
}